<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Activiteiten</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
<nav>
      <a href="/">
        <img src="/img/logo.png" alt="Logo" id="logo" />
      </a>
      <div>
        <a href="/">Home</a>
        <a href="/boeken" class="cta">Boeken</a>
        <a href="/activiteiten">Activiteiten</a>
      </div>
    </nav>

    <h1>Activiteiten</h1>
    <div id="activities-list">

<a href="https://www.natuurenbos.be/natuurgebieden/raspailleboscomplex" target="_blank" class="card">
<img src="/img/activities/1.webp" loading="lazy">
<h4>Raspaillebos</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/sporten/fietsen-en-moutainbiken.html" target="_blank" class="card">
<img src="/img/activities/2.webp" loading="lazy">
<h4>Fietsen huren</h4>
</a>

<a href="https://www.ga-eens-wandelen.be/wandelingen/belgie/provincie-oost-vlaanderen/stiltewandelroute-tussen-dender-en-mark" target="_blank" class="card">
<img src="/img/activities/3.webp" loading="lazy">
<h4>Stiltegebied Dender-Mark</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/wandelen" target="_blank" class="card">
<img src="/img/activities/4.webp" loading="lazy">
<h4>Wandelen</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/fietsroutes" target="_blank" class="card">
<img src="/img/activities/5.webp" loading="lazy">
<h4>Fietsen</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/de-muur" target="_blank" class="card">
<img src="/img/activities/6.webp" loading="lazy">
<h4>De Bekende 'Muur'</h4>
</a>

<a href="https://vithes.be/"Elektrische fietsen Vithes" target="_blank" class="card">
<img src="/img/activities/7.webp" loading="lazy">
<h4>Elektrische fietsen Vithes</h4>
</a>

<a href="https://www.inforegio.be/de-helix-duurzaam-educatiepunt-van-het-departement-omgeving-geraardsbergen" target="_blank" class="card">
<img src="/img/activities/8.webp" loading="lazy">
<h4>De Helix</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers.html"Recreatiedomein De Gavers" target="_blank" class="card">
<img src="/img/activities/9.webp" loading="lazy">
<h4>Recreatiedomein De Gavers</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/sporten/watersporten.html" target="_blank" class="card">
<img src="/img/activities/10.webp" loading="lazy">
<h4>Pedalo/Kajak/Windsurfen/Chiliboot</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/ontspannen/spelen.html" target="_blank" class="card">
<img src="/img/activities/11.webp" loading="lazy">
<h4>Speeltuin met gratis toegang</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/sporten/zwembad/zwembad-het-gaversbad.html" target="_blank" class="card">
<img src="/img/activities/12.webp" loading="lazy">
<h4>Tropisch binnen- en buitenzwembad</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/ontspannen/minigolf.html" target="_blank" class="card">
<img src="/img/activities/13.webp" loading="lazy">
<h4>Minigolf</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/ontspannen/trampolinepark-in-openlucht.html" target="_blank" class="card">
<img src="/img/activities/14.webp" loading="lazy">
<h4>Trampolinepark op 2km</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/ontspannen/strand.html" target="_blank" class="card">
<img src="/img/activities/15.webp" loading="lazy">
<h4>Zandstrand met zwemzone op 2km</h4>
</a>

<a href="https://wowpark.eu/" target="_blank" class="card">
<img src="/img/activities/16.webp" loading="lazy">
<h4>WoWpark</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/sporten/klimtoren.html" target="_blank" class="card">
<img src="/img/activities/17.webp" loading="lazy">
<h4>Muurklimmen</h4>
</a>

<a href="https://oost-vlaanderen.be/content/ovl/nl/ontspannen/recreatiedomeinen/de-gavers/sporten/vissen.html" target="_blank" class="card">
<img src="/img/activities/18.webp" loading="lazy">
<h4>Vissen</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/ontspannen/lasershooten.html" target="_blank" class="card">
<img src="/img/activities/19.webp" loading="lazy">
<h4>Lasershooten</h4>
</a>

<a href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers/ontspannen/spelen.html" target="_blank" class="card">
<img src="/img/activities/20.webp" loading="lazy">
<h4>Gocarts tot 1m60</h4>
</a>

<a href="https://www.natuurenbos.be/natuurgebieden/de-nuchten" target="_blank" class="card">
<img src="/img/activities/21.webp">
<h4>Natuurreservaat De Nuchten</h4>
</a>

<a href="https://hetalpacazicht.be/alpacawandeling/" target="_blank" class="card">
<img src="/img/activities/22.webp">
<h4>Alapacawandeling</h4>
</a>

<a href="https://www.autovakanties.be/geraardsbergen-de-stad-met-de-3-ms-de-muur-manneken-pis-mattentaarten/" target="_blank" class="card">
<img src="/img/activities/23.webp" loading="lazy">
<h4>Geraardsbergen</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/aanbod/index/71/abdijpark" target="_blank" class="card">
<img src="/img/activities/24.webp" loading="lazy">
<h4>Abdijpark</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/monumenten" target="_blank" class="card">
<img src="/img/activities/25.webp" loading="lazy">
<h4>Monumenten</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/cultureel-erfgoed" target="_blank" class="card">
<img src="/img/activities/26.webp" loading="lazy">
<h4>Cultureel Erfgoed</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/workshop-mattentaarten" target="_blank" class="card">
<img src="/img/activities/27.webp" loading="lazy">
<h4>Workshop Mattentaarten</h4>
</a>

<a href="https://www.zeepkat.be/atelierbezoek/" target="_blank" class="card">
<img src="/img/activities/28.webp" loading="lazy">
<h4>Bezoek aan het zeepatelier</h4>
</a>

<a href="https://www.legindary.be/vespa-verhuur-formules" target="_blank" class="card">
<img src="/img/activities/29.webp" loading="lazy">
<h4>Vespa rit</h4>
</a>

<a href="https://www.pairidaiza.eu/nl/" target="_blank" class="card">
<img src="/img/activities/30.webp" loading="lazy">
<h4>Pairi Daiza, de mooiste zoo van Europa</h4>
</a>

<a href="https://outsideraalst.be/nl/friendsandfamily/activiteiten-friends-family/riverbikes-2-uur-the-outsider/" target="_blank" class="card">
<img src="/img/activities/31.webp" loading="lazy">
<h4>Riverbikes op de Dender</h4>
</a>

<a href="https://outsideraalst.be/nl/home/" target="_blank" class="card">
<img src="/img/activities/32.webp" loading="lazy">
<h4>Avonturenpark The Outsider</h4>
</a>

<a href="https://kajakopdedender.be/nl/home/" target="_blank" class="card">
<img src="/img/activities/33.webp" loading="lazy">
<h4>Kajak op de Dender</h4>
</a>

<a href="https://www.facebook.com/people/Suskewiet/100063488263254/"  target="_blank" class="card">
<img src="/img/activities/34.webp" loading="lazy">
<h4>Eten bij Suskewiet op 200m</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/aanbod/index/17/cafes" target="_blank" class="card">
<img src="/img/activities/35.webp" loading="lazy">
<h4>Cafés</h4>
</a>

<a href="http://www.restaurantgliss.be/index.html" target="_blank" class="card">
<img src="/img/activities/36.webp" loading="lazy">
<h4>Gastronomie bij Resto Gliss</h4>
</a>

<a href="https://www.visitgeraardsbergen.be/shoppen" target="_blank" class="card">
<img src="/img/activities/37.webp" loading="lazy">
<h4>Shoppen</h4>
</a>

<a href="https://eventsonwheels.be/" target="_blank" class="card">
<img src="/img/activities/38.webp" loading="lazy">
<h4>Rit met 2PK</h4>
</a>

<a href="http://www.cinemafocus.be/" target="_blank" class="card">
<img src="/img/activities/39.webp" loading="lazy">
<h4>Cinema Focus</h4>
</a>

<a href="https://www.ijsmolenhoeve.be/" target="_blank" class="card">
<img src="/img/activities/40.webp" loading="lazy">
<h4>IJsmolenhoeve</h4>
</a>

<a href="https://upballooning.be/ballonvaren/ballonvaart-geraardsbergen/" target="_blank" class="card">
<img src="/img/activities/41.webp" loading="lazy">
<h4>Ballonvaart</h4>
</a>

<a href="https://www.by-ines.be/" target="_blank" class="card">
<img src="/img/activities/42.webp" loading="lazy">
<h4>Manicure &amp; Pedicure aan huis</h4>
</a>

<a href="https://www.roman.be/nl/brouwerijbezoek" target="_blank" class="card">
<img src="/img/activities/43.webp" loading="lazy">
<h4>Bezoek aan Brouwerij Roman</h4>
</a>
    </div>
  </body>
</html>
