<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Activiteiten</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <img src="/img/logo.png" alt="Logo" id="logo" />
      <div>
        <a href="/nl">Home</a>
        <a href="/nl/boeken" class="cta">Boeken</a>
        <a href="/nl/activiteiten">Activiteiten</a>
      </div>
    </nav>

    <h1>Activiteiten</h1>
    <div id="activities-list">
      <a
        href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers.html"
        class="card"
      >
        <img
          src="/img/activities/gavers.webp"
          loading="lazy"
          alt="foto van de gavers"
        />
        <h4>Provinciaal Domein De Gavers</h4>
      </a>

      <a
        href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers.html"
        class="card"
      >
        <img
          src="/img/activities/gavers.webp"
          loading="lazy"
          alt="foto van de gavers"
        />
        <h4>Provinciaal Domein De Gavers</h4>
      </a>

      <a
        href="https://oost-vlaanderen.be/ontspannen/recreatiedomeinen/de-gavers.html"
        class="card"
      >
        <img
          src="/img/activities/gavers.webp"
          loading="lazy"
          alt="foto van de gavers"
        />
        <h4>Provinciaal Domein De Gavers</h4>
      </a>
    </div>
  </body>
</html>
