<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kalender</title>
  <link href="/style.css" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="/">
      <img src="/img/logo.png" alt="Logo" id="logo" />
    </a>
    <div>
      <a href="/">Home</a>
      <a href="/boeken" class="cta">Boeken</a>
      <a href="/activiteiten">Activiteiten</a>
    </div>
  </nav>

  <div style="width: clamp(10px, 95vw, 37rem)">
    <table id="calendar">
      <tr>
        <th id="prev_month"><button>
            < </button>
        </th>
        <th id="month_year" colspan="5">Maand Jaar</th>
        <th id="next_month"><button> > </button></th>
      </tr>

      <tr id="weekdays">
        <td>Ma</td>
        <td>Di</td>
        <td>Wo</td>
        <td>Do</td>
        <td>Vr</td>
        <td>Za</td>
        <td>Zo</td>
      </tr>

      <tr id="week_1" class="data">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="week_2" class="data">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="week_3" class="data">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="week_4" class="data">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="week_5" class="data">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="week_6" class="data">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr></tr>
      <tr class="legend">
        <td style="background-color: var(--free);"></td>
        <td>Vrij</td>
      </tr>
      <tr class="legend">
        <td style="background-color: var(--accent);"></td>
        <td>Geboekt</td>
      </tr>
      <tr class="legend">
        <td style="background-color: var(--unavailable);"></td>
        <td style="text-wrap: nowrap;">Niet beschikbaar</td>
      </tr>

    </table>
  </div>
  <ul id="bookings" style="display: none;">
    {{#each bookings}}
    <li>{{this.from}}|{{this.to}}</li>
    {{/each}}
  </ul>
  <div id="cost">
    <h2 style="margin-bottom: 1rem;">Tarieven</h2>
    <h4 style="margin: 0.8rem;">Laagseizoen(Okt-Apr): €650/weekend + €200 waarborg</h4>
    <h4 style="margin-top: 0.8rem;">Hoogseizoen(Mei-Sept): €750/weekend + €200 waarborg </h4>
    <h5>Geen huisdieren toegelaten</h5>
    <h5>Alle prijzen incl. beddengoed, excl. schoonmaak(€50)</h5>
    <h5>Waarborg wordt 2 weken na check-out
      terugbetaald, indien geen schade</h5>
<h5>Verboden te roken in de woning, wel op terrassen</h5>
    <h5>
      Brandhout voor kachel 15 euro per zak, 5 euro voor aanmaakhout (wordt afgehouden van waarborg)</h5>
    <h5>Gelieve het huis bij vertrek bezemschoon achter te laten en afval in
      berging in voorziene vuilzakken te werpen. Lakens van bedden te trekken en in washok deponneren.</h5>
    <h5>Een weekend loopt van vr. 16u tot zo. 18u</h5>
  </div>
  <h2 style="text-align: center; font-size: clamp(10px, 5vw, 2rem);">Om een periode te boeken stuurt u een mailtje
    naar
    <address><a href="mailto:lievenskatleen@gmail.com">lievenskatleen@gmail.com</a></address>
    </h3>
    <script src="/scripts/calendar.js"></script>
</body>

</html>
