<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vakantiewonging De Zilverberk</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <a href="/nl">
        <img src="/img/logo.png" alt="Logo" id="logo" />
      </a>
      <div>
        <a href="/nl">Home</a>
        <a href="/nl/boeken" class="cta">Boeken</a>
        <a href="/nl/activiteiten">Activiteiten</a>
      </div>
    </nav>

    <div id="carousel">
      <img src="" alt="" />
      <div>
        <img src="/img/carousel/9.jpg" alt="Foto van de keuken" id="focus" />
        <img src="/img/carousel/8.jpg" alt="Foto van de woonkamer met zetel, kachel en tv" />
        <img src="/img/carousel/7.jpg" alt="Foto van de badkamer met bad en douche" />
        <img src="/img/carousel/5.jpg" alt="Foto van de achtertuin" />
        <img src="/img/carousel/6.jpg" alt="Foto van het terras met eettafel" />
        <img src="/img/carousel/3.jpg" alt="Foto van de 1ste slaapkamer met 1 dubbel bed" />
        <img src="/img/carousel/4.jpg" alt="Foto van de 2de kamer met 1 dubbel bed" />
        <img src="/img/carousel/2.jpg" alt="Foto van de 1ste kinderkamer met stapelbed" />
        <img src="/img/carousel/10.jpg" alt="Foto van de eetplaats" />
        <img src="/img/carousel/12.jpg" alt="Foto van de gang beneden" />
        <img src="/img/carousel/11.jpg" alt="Foto van de gang boven" />
      </div>

      <script src="/scripts/carousel.js"></script>
    </div>
    <h1>Vakantiehuis voor 9 personen centraal in de Vlaamse Ardennen</h1>
    <a href="/nl/boeken" class="button cta">Boek Nu!</a>
    <h2>Info over het huis:</h2>
    <h3 style="font-size: 2rem; margin-bottom: 1rem">Adres: Lestpolder 98 9506 Grimminge (Geraardsbergen)</h3>
    <div id="info-grid">
      <div style="grid-column: span 2; grid-row: span 2; font-size: 1.3em">
        <ul>
          <li>2 x 2 personen + babybed</li>
          <li>1 x 3 personen stapelbed</li>
          <li>2 x 1 personen</li>
        </ul>
      </div>
      <p style="grid-row: span 2; background-color: var(--secondary-grid); color: var(--text); font-size: 1.5em">
        4 Slaapkamers
      </p>
      <p style="grid-row: span 2; background-color: var(--secondary-grid); color: var(--text); font-size: 1.5em">
        Badkamer met bad en douche
      </p>
      <p style="background-color: var(--text); font-size: 1.2em">2 WC's</p>
      <p style="grid-row: span 2; background-color: black; color: var(--text); font-size: 1.5em">Garage</p>
      <p style="grid-row: span 2; font-size: 1.2em">Grote open keuken met oven, microgolf en vaatwasser</p>
      <p style="font-size: 1.5em">Eetplaats</p>
      <p style="grid-row: span 2; background-color: var(--text); font-size: 1.5em">
        Salon met houtkachel en tv met Netflix
      </p>
      <p style="grid-column: span 2; background-color: var(--secondary-grid); color: var(--text)">
        Wasplaats met wasmachine en stoomstrijkijzer
      </p>
      <p style="grid-column: span 2; font-size: 1.4em">Tuin met terras van 150 m²</p>
      <p style="background-color: var(--text); font-size: 1.5em">Speelhoek</p>
      <p style="grid-column: span 2; background-color: var(--secondary-grid); color: var(--text); font-size: 1.2em">
        Terras op verdieping van 25m²
      </p>
    </div>
    <h3 style="font-size: 1.2rem; text-align: center">
      OPGELET: Woning is op verdieping, dus niet toegankelijk voor rolstoelen of mensen die slecht te been zijn.
    </h3>
  </body>
</html>
