<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vakantiehuis Dimitri</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <img src="/img/logo.svg" alt="Logo" id="logo" />
      <a href="/nl">Home</a>
      <a href="/nl/boeken">Boeken</a>
      <a href="/nl/activiteiten">Activiteiten</a>
    </nav>

    <div id="carousel">
      <img src="/img/carousel/1.jpg" alt="todo" id="focus" />
      <img src="/img/carousel/2.jpg" alt="todo" />
      <img src="/img/carousel/3.jpg" alt="todo" />
      <img src="/img/carousel/4.jpg" alt="todo" />
      <img src="/img/carousel/5.jpg" alt="todo" />

      <script src="/scripts/carousel.js"></script>
    </div>
    <h1>Vakantiehuis centraal in de Vlaamse Ardennen</h1>
    <a href="/nl/kalender" class="button">Boek Nu</a>
  </body>
</html>
