@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --text: #ffffff;
  --background: #1f1f1f;
  --background-secondary: color-mix(in srgb, var(--background) 80%, white);
  --primary: #ffe66d;
  --secondary: #57bcff;
  --accent: #ffbf00;
  --br: 1rem;
}

body {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

html {
  color-scheme: dark;
}

h1 {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  margin-top: 4rem;
}

h3 {
  margin-bottom: 0.5rem;
}

a.button,
button {
  border: none;
  color: var(--background);
  background-color: var(--accent);
  padding: 1rem 2rem;
  border-radius: var(--br);
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  border: 0.2rem solid var(--accent);
  transition: transform 0.2s;

  &:hover {
    background-color: var(--background);
    color: var(--accent);
  }
}

.cta {
  animation: bounce-reverse 0.4s;
}

.cta:hover {
  animation: bounce forwards 0.4s;
}

.center {
  display: flex;
  justify-content: center;
}

.space {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

nav {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

  & > #logo {
    width: 15rem;
  }

  & > div {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    gap: 2rem;
  }

  & > div > a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 1.2rem;
    transition: transform 0.2s;

    &:hover {
      color: var(--secondary);
    }
  }
}

.card {
  --width: clamp(10px, 80vw, 30rem);
  display: block;
  background-color: var(--background-secondary);
  border-radius: var(--br);
  width: var(--width);
  height: calc(var(--width) * 0.8);
  text-decoration: none;

  & > img {
    aspect-ratio: 1.5;
    object-fit: cover;
    width: 100%;
    border-radius: var(--br) var(--br) 0 0;
  }

  & > h4 {
    text-align: center;
    color: var(--text);
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}

form {
  background-color: var(--background-secondary);
  padding: 1rem 4rem;
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  button {
    margin-top: 2rem;
  }

  input {
    margin-bottom: 2rem;
  }
}

dialog {
  border: none;
  border-radius: var(--br);
  background-color: var(--background-secondary);
  padding: 0;
  box-shadow: color-mix(in srgb, black 50%, transparent) 0 1rem 29px 0;
}

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 1rem;
}

#carousel {
  position: relative;
  height: 37rem;
  margin-bottom: 1rem;

  & > img {
    width: 10.25rem;
    height: 6rem;
    border-radius: var(--br);
    object-fit: cover;
    position: absolute;
    transition: all 1.5s;
    cursor: pointer;

    top: 30.5rem;
  }

  & > img#focus {
    top: 0;
    left: -25rem !important;
    width: 50rem;
    height: 28rem;
    cursor: auto;
    box-shadow: color-mix(in srgb, var(--primary) 50%, transparent) 0px 0px 29px
      0px;
  }
}

#calendar > tbody {
  --free: color-mix(in srgb, var(--secondary) 60%, white);
  & > tr > th {
    text-align: center;
    font-size: 2rem;

    & > button {
      background: none;
      border: none;
      color: var(--text);
      font-weight: 900;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        color: var(--accent);
      }
    }
  }

  & > tr > td {
    text-align: center;
    width: 4rem;
    height: 1rem;
    border-radius: var(--br);
  }

  & > tr.data > td {
    height: 4rem;
    background-color: var(--free);
    color: black;
    font-size: 2rem;
  }

  & > .legend > td {
    text-align: left;
  }
}

#info-grid {
  --length: clamp(10px, 90vw, 60rem);
  width: var(--length);
  margin-bottom: 1rem;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  --primary-grid: color-mix(in srgb, var(--primary) 80%, white);
  --secondary-grid: color-mix(in srgb, var(--secondary) 50%, black);

  & > p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-grid);
    color: var(--background);
    padding: 2rem 2rem;
    margin: 0;
    text-align: center;
    border-radius: var(--br);
    font-size: 1.7rem;
    font-weight: 700;
  }
}

#activities-list {
  display: flex;
  flex-wrap: wrap;
  width: clamp(10px, 90vw, 100rem);
  justify-content: space-evenly;
  gap: 1rem;
}

@keyframes bounce {
  from {
    scale: 1;
  }

  40% {
    scale: 1.6;
  }

  to {
    scale: 1.4;
  }
}

@keyframes bounce-reverse {
  from {
    scale: 1.4;
  }

  40% {
    scale: 0.8;
  }

  to {
    scale: 1;
  }
}
