<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <link href="/style.css" rel="stylesheet">
</head>

<body>
  <nav>
    <img src="/img/logo.svg" alt="Logo" id="logo" />
    <a href="/nl">Home</a>
    <a href="/nl/boeken" class="cta">Boeken</a>
    <a href="/nl/activiteiten">Activiteiten</a>
  </nav>

  <h1>Admin panel</h1>
  <h3>Boekingen:</h3>
  <ul style="margin-bottom: 3rem;">
    {{#each bookings}}
    <li>{{this.from}} - {{this.to}}</li>
    {{/each}}
  </ul>

  <form action="/admin/add-booking" method="POST">
    <h2>Boeking toevoegen:</h2>
    <label for="from">Inchecken:</label>
    <input type="date" name="from" required>
    <label for="to">Uitchecken:</label>
    <input type="date" name="to" required>
    <button>Toevoegen</button>
  </form>

  <dialog id="message">
    <form>
      <h1></h1>
      <button>Ok</button>
    </form>
  </dialog>
  <script src="/scripts/admin.js"></script>
</body>

</html>
