<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <link href="/style.css" rel="stylesheet">
</head>

<body>
  <nav>

    <a href="/nl">
      <img src="/img/logo.png" alt="Logo" id="logo" />
    </a>
    <div>
      <a href="/nl">Home</a>
      <a href="/nl/boeken" class="cta">Boeken</a>
      <a href="/nl/activiteiten">Activiteiten</a>
    </div>
  </nav>

  <h1>Admin panel</h1>
  <h3>Boekingen:</h3>
  <ul style="margin-bottom: 3rem; list-style: none;" id="bookings">
    {{#each bookings}}
    <div style="display: flex; justify-content: space-between; align-items: end ;width: 20rem;
      padding-bottom: 0.2rem; margin-bottom: 1rem; border-bottom: solid 2px var(--background-secondary);">
      <li>{{this.from}} - {{this.to}}</li>
      <button class="delete" id="{{this.id}}">X</button>
    </div>
    {{/each}}
  </ul>

  <form action="/admin/add-booking" method="POST">
    <h2>Boeking toevoegen:</h2>
    <label for="from">Inchecken:</label>
    <input type="date" name="from" required>
    <label for="to">Uitchecken:</label>
    <input type="date" name="to" required>
    <button>Toevoegen</button>
  </form>

  <dialog id="message">
    <form>
      <h1></h1>
      <a href="/admin" style="display: none;" class="button">Ja</a>
      <button>Ok</button>
    </form>
  </dialog>
  <script src="/scripts/admin.js"></script>
</body>

</html>
