<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vakantiehuis Dimitri</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body style="justify-content: center; height: 80svh">
    <main>
      <h1>Kies Uw Taal</h1>
      <div class="space">
        <a href="/en" class="button" style="width: 6rem">English</a>
        <a href="/nl" class="button" style="width: 6rem">Nederlands</a>
      </div>
    </main>
  </body>
</html>
